# Node modules
node_modules/

# Environment files
.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# Dependency directories
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.tmp
*.swp

# Coverage
coverage/

# npm
package-lock.json